 html,body,#root{
    margin:0;
    padding:0;
    height: 100%;
    text-align: center;
    color: grey;
    font-family: 'Zen Dots', cursive;

    
}
body,#root{
    background-color: #242424;
    
}

.Box {
    display: inline-block !important;
    border: 1px solid black !important;
    padding:  0 10px !important;
    margin: 10px !important;
    border-radius: 10px !important;
    background-color:  #242424 !important;
    color: antiquewhite;
}
.box{
   
    display: inline-block !important;
    border: 1px solid black !important;
    padding:  10px 10px !important;
    margin: 10px !important;
    border-radius: 10px !important;
    background-color:  white !important;
    color: black !important;
}

a{
    color: black;
    text-decoration: none !important;
}

.CouponButton {
    color: antiquewhite !important;
	
}
.CustomerButton {
    color: antiquewhite !important;
	
}
.SelectCategory {
    color: antiquewhite !important;
  
	
}
/* .CompaniesButton{
    color: antiquewhite !important;
} */

